body {
    font-size: 12pt; color: black
}

#settingsMenu {
    padding: 2px;
    border-width: 1px; 
    border: solid; 
    border-radius: 2px; 
    background-color: #e0e0e0
}

.thumb {
    height: 32px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
